*{
  font-family: 'Open Sans', arial, sans-serif;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
  margin:0;
}

#interface{
height:100%;
  overflow:hidden;
}

#input{
  width: 260px;
  text-align: center;
  float:left;
  min-height:100%;
  background:#333;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  z-index: 1000;
}

#map {
  position: relative;
  min-height:100%;
 }

/* We're using !important to overwrite basic leaflet styles here */
.leaflet-control-layers{
  background: #333 !important;
  color: #fff !important;
  border-radius: 0 !important ;
}

.leaflet-popup-content-wrapper{
  border-radius: 0 !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: #333 !important;
  color: #fff !important;
}

.logo > img{
  position: relative;
  width: 220px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

hr{
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#editButtons{
  margin-left: 40px;
  margin-top: 30px;
  width: 160px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#editButtons > div {
  background: #444;
  margin-top: 2px;
  width: 160px;
  padding: 2px;
}

#editButtons > div > p {
  font-size: smaller;
}

#editButtons > div:hover {
  background: #555;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
