*{
  font-family: 'Open Sans', arial, sans-serif;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
  margin:0;
}

#interface{
height:100%;
  overflow:hidden;
}

#input{
  max-width: 500px;
  min-width: 300px;
  width: 20%;
  text-align: center;
  float: right;
  min-height:100%;
  background:#252830;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  z-index: 1000;
}

.main{
  /*margin-top: -30px;
  padding-top: 30px;*/
  position: relative;
  z-index: 9001;
}

.logo{
  display: none;
}

.logo > img{
  position: relative;
  width: 220px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#map {
  position: relative;
  min-height:100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
 }

 #menu{
   background: #1f2025;
   height: 40px;
 }

.menu-item{
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  height: 30px;
  margin-top: 10px;
  width: 80px;
  bottom: 0;
  background: #252830;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
  transition: all .05s ease-in-out;
  -moz-transition: all .05s ease-in-out;
  -webkit-transition: all .05s;
}

.menu-selected{
  background: #1bc98e;
}

.menu-selected:hover{
  background: #1bc98e !important;
}

.menu-item:hover{
  background: #10986a;
}

.menu-item > p{
  margin: 0;
  margin-top: 4px;
}

#editButtons{
  margin-left: 40px;
  margin-top: 30px;
  width: 160px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#editButtons > div {
  background: #434857;
  margin-top: 2px;
  width: 160px;
  padding: 2px;
}

#editButtons > div > p {
  font-size: smaller;
}

#editButtons > div:hover,
#editGeom:hover,
#deleteGeom:hover,
#addCollumn:hover{
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s;
  background: #1ca8dd;
  cursor: pointer;
}

#editGeom,
#deleteGeom,
#addCollumn{
  background: #434857;
  padding: 6px;
  width: 100px;
  height: 18px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  cursor: pointer;
}

#editGeom{
  margin-top: 10px;
  margin-bottom: 4px;
}

#deleteGeom{
  margin-top: -34px;
  margin-left: 134px;
  margin-bottom: 4px;
}

#addCollumn{
  margin-top: 10px;
  margin-bottom: 4px;
  background: #434857;
}

#deleteGeom > p,
#addCollumn > p,
#editGeom > p{
  margin: 0;
}

#input > p{
  color: #888;
}

#wfsLayers{
  margin-top: 25px;
}

#layers{
  list-style: none;
  text-align: left;
  font-size: smaller;
  max-width: 160px;
}

#layers > li{
  background: #434857;
  padding: 8px;
  margin-top: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#layers > li > p{
  margin: 0;
}

#layers > li:hover{
  background: #1ca8dd;
  cursor: pointer;
  transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  -webkit-transition: all .10s;
}

.off{
  background: #e64759 !important;
}
.on, .layer-on{
  background: #1bc98e !important;
}

.layer-off{
  background: #434857 !important;
}

#snapping{
  transition: all .10s ease-in-out;
  -moz-transition: all .10s ease-in-out;
  -webkit-transition: all .10s;
  max-width: 144px;
  padding: 8px;
  margin-left: 40px;
  margin-top: 36px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#snapping > p{
  margin: 0;
  font-size: smaller;
}

#snapping:hover{
  cursor: pointer;
}

.unselectable-text {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected{
  background: #1ca8dd !important;
}

.unselectable{
  pointer-events: none !important;
  opacity: 0.60;
  cursor: not-allowed !important;
}

.idTag{
  margin-top: 30px;
  color: #888;
}
