.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

.table-remove{
  border: none !important;
}

.table-add{
  position: relative;
  left: 40px;
  top: 0;
}

#attr{
  position: absolute;
  color: white;
  height: 100px;
  width: 300px;
  padding: 10px;
  left: 100px;
  bottom: 300px;
  padding-left: 50px;
  z-index: 1010;
  background: #333;
  border-top: 1px solid black;
}

td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 70px;
}

#objTable{
  margin-top: 20px;
  max-width: 200px !important;
}

.table-remove{
  min-width: 10px;
  width: 10px;
}

.boolean{
  color: rgb(236, 215, 52);
}

.number{
  color: rgb(27, 171, 224);
}
