
.table-add, .table-delete, .table-edit{
  margin-left: 6px;
  color: #fff;
  text-align: center;
}

.table-remove > i:hover{
  font-size: larger;
  color: red;
  cursor: pointer;
  margin-left: -1px;
}

.table-remove{
  min-width: 0 !important;
  width: 30px;
}


#attr{
  position: absolute;
  color: white;
  height: 100px;
  width: 300px;
  padding: 10px;
  left: 100px;
  bottom: 300px;
  padding-left: 50px;
  z-index: 1010;
  background: #333;
  border-top: 1px solid black;
}

td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 70px;
}

#objTable{
  margin-top: 20px;
  max-width: 200px !important;
}

.boolean{
  color: rgb(236, 215, 52);
}

.number{
  color: rgb(27, 171, 224);
}

.string{
  color: rgb(209, 28, 17);
}

.boolean, .number, .string{
  min-width: 100px;
}
